.ce-toolbar__actions{
    
}

.ce-toolbar__plus,.ce-toolbar__settings-btn{
    background-color: gray; 
    display: none;
}

.ce-popover{
    background-color: gray; 
    display: none;
}

.ce-inline-toolbar__toggler-and-button-wrapper{
    display: none;
}